<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.udayton.autorentals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BookingconfirmationActivity"></activity>
        <activity android:name=".CheckoutActivity" />
        <activity android:name=".BiketypeActivity" />
        <activity android:name=".TrucktypesActivity" />
        <activity android:name=".MotorbiketypesActivity" />
        <activity android:name=".CartypesActivity" />
        <activity android:name=".AutoActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>